.link-btn {
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  width: 86px;
  height: 40px;
  background: #4e75ff;

  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:focus,
  &:hover {
    background: #355ff6;
  }

  &:active {
    transform: scale(0.9);
    background: #4e75ff;
  }
}

.btn-list {
  display: flex;
  gap: 4px;
}
