.feedback-form {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  border-radius: 8px;
  padding: 24px;
  max-width: 408px;
  min-height: 256px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 0 auto;

  label {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  label:nth-child(2) {
    margin-bottom: 16px;
  }

  .input-form {
    resize: vertical;
    border: none;
    width: 100%;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
  }

  button {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:focus,
    &:hover {
      background: #355ff6;
    }

    &:active {
      transform: scale(0.9);
      background: #4e75ff;
    }
  }
}
