@use './base/elements';
@use './base/reset';
// Pages styles
@use './pages/gallery';
@use './pages/form';
// Library style
@import './libs/simplelightbox-custom';
@import 'simplelightbox/src/simple-lightbox.scss';
